# Custom project files to ignore
PROJECT_GUIDE.md
DEPLOYMENT.md

# Virtual Environments
venv/
env/
.env

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Pytest
.pytest_cache/

# IDEs
.vscode/
.idea/

# OS specific
.DS_Store
Thumbs.db
.wsl_venv/
node_modules/